
<nav class="navbar navbar-expand-lg navbar-dark bg-danger ">
 <a href="{% url 'landing' %}" class="navbar-brand mr-3">
    <img src="https://www.instagram.com/static/images/web/mobile_nav_type_logo.png/735145cfe0a4.png" alt="">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    {% if user.is_authenticated %}
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'landing'%}">Home <span class="sr-only">(current)</span></a>
      </li>
      

      <li class="nav-item">
        <a class="nav-link" href="/user/{{request.user.id}}">Profile</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item"href="/logout">LogOut</a>
          <a class="dropdown-item"href="/user/{{request.user.id}}">Profile</a>
          <a class="dropdown-item" href="/accounts/password/change">Change Password<</a>
        </div>
      </li>
    </ul>
    {% else %}
    <li class="nav-item">
      <a class="nav-link" class='btn btn-default' href="/accounts/login">Login</a>
      </li>
     {%endif %} 
    
     <div class="navbar-nav" style="margin-left: 30%;">
      <form class="navbar-form" role="search" method="" action="{% url 'search_results' %}" style="margin-right:150px;" >
        {% csrf_token %}
        <div class="input-group">
        <input type="text" class="form-control" placeholder="SearchByProfile" name="name">
        <div class="input-group-btn">
        <button class="btn btn-dark" style="margin-left: 5px;" type="submit">Search</button>
        </div>
        </div>
        </form>
      
    </div>
  
    <a href="#" ><img src="./static/images/instagram-home-icon-by-Vexels.svg" alt="" height="70" width="50" class="mr-5"></a> <br>
    <a href="#" ><img src="./static/images/iconmonstr-facebook-messenger-1.svg" alt="" height="50" width="50" ></a>
  </a>
  </div>
</nav>